.button {
    font-size: 14px;
    height: 30px;
    border: 0;
    border-radius: 2px;

    &.button-primary {
      border: 1px solid #777;
      background: #fff000;
      color: #333;
      font-weight: 600;
    }

    &.button-primary:hover {
      background: #eee333;
      color: #222;
    }
}
