@import '../../../sass/variables';

.app-listagem-filmes {
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 auto;

    .star-wars-logo {
      margin-bottom: 40px;
      content: url('../../../assets/starwarslogo.png'); 
    }

    .filmes {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-around; 
    }
  
    .actions {
      margin-top: 50px;
  
      &__button {
        position: relative;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        margin: 10px 5px;
        background: #fff000;
        font-weight: bold;
        color: white;
        border: none;
        outline: inherit;
        cursor: pointer;
  
        &:after {
          position: absolute;
          width: 12px;
          height: 12px;
          border-top: 3px solid #222;
          border-right: 3px solid #222;
          border-radius: 2px;
          transform: rotate(45deg);
          top: 12px;
          left: 11px;
          content: '';
        }
  
        &.actions__button--backwards:after {
          transform: rotate(225deg);
          top: 12.5px;
          left: 15px;
        }
  
        &:hover {
          background: #222;
          color: white;

          &:after {
            border-top: 3px solid white;
            border-right: 3px solid white;
          }
        }
      }
    }

  @media only screen and (max-width: $breakpoint-mobile) {
    .actions {
       margin-top: 25px;
    }

    .star-wars-logo {
      margin-bottom: 15px;
      width: 340px;
    }
  }

}
  