.app-opening-crawl {
  background-color: black;
  display: flex;
  align-items: center;
}

p {
  color: #FFFF82;
}
  
#board {
  transform: perspective(300px) rotateX(18deg);
  transform-origin: 50% 100%;
  
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  font-size: 350%;
  overflow: hidden;

  height: 50em;
  width: 21em;
}
  
#board:after {
  position: absolute;
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
  content: ' ';
}
  
#content {
  animation: scroll 100s linear 0s;
  position: absolute;
  top: 100%;
}

#title, #subtitle, #text {
  text-align: center;
}

#title {
  margin-bottom: 50px;
}

#text {
  line-height: 90px;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}