@import '../../../../sass/variables';

.app-card-filme {
    height: 550px;
    width: 400px;
    background: white;
    border-radius: 2px;

    justify-content: space-between;
    align-items: center;
    
    .info {
        display: flex;
        align-items: center;     
        flex-direction: column;   
    }


    .titulo {
        font-size: 30px;
    }

    .informacao-basica, .producers, .titulo {
        text-align: center;

    }
    
    .producers {
        margin-top: 30px; 
        max-width: 300px;
    }

    .actions {
        margin-bottom: 35px;
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
}


@media only screen and (max-width: $breakpoint-large) {
    .app-card-filme {
      width: 300px;
    }
}

@media only screen and (max-width: $breakpoint-mobile) {
    .app-card-filme {
        height: 75vh;
        width: 350px;

        .titulo {
            font-size: 25px;
        }
    }
}

@media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-medium) {
    .app-card-filme {
      width: 330px;
      height: 70vh;
    }
}
